@model JXProduct.AdminUI.Models.Section.SectionEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DefaultWin.cshtml";

    string type = "编辑";
    string title = string.Empty;
    if (Model.ParentID > 0)
    {
        type = "添加";
        title = "(父标签：" + Model.ParentChineseName + ")";
    }
}
@section css{
    <style>
        body { background-color: #fff; }
        .popup-dropDown-b ul { max-height: 280px; overflow-y: auto; }
        .popup-dropDown-b { max-height: 320px; }
    </style>
}
@section js{
    <script src="~/Content/js/jx.cf.js"></script>
    <script>
        $(function () { section.edit() });
    </script>
}
<div class="popupGeneral class-width">
    <div class="popupGeneral-h">
        <span>@type @title</span>
        <a href="javascript:;">×</a>
    </div>
    <div class="popupGeneral-c popup-class">
        <form id="form1">
            <div class="popup-title">
                <span class='xingRed'>* </span>@(type)项名称：
            </div>
            <div class="popup-dropDown">
                <div class="popup-dropDown-t">
                    <input type="text" name="ChineseName" value="@Model.ChineseName" placeholder='请输入关键字'>
                </div>
                <div class="popup-dropDown-b"></div>
            </div>
            <div class="confirm class-popup-confirm">
                @Html.HiddenFor(t => t.SectionID)
                @Html.HiddenFor(t => t.ParentID)
                @Html.HiddenFor(t => t.ParentChineseName)
                <a href="#" name="add">添加</a>
                <a href="#" class="closewin_p" name="cancel">取消</a>
                <p class="gou hide r1"><span></span><i>成功标签添加</i></p>
                <p class="xingRed info-ico hide r2"><span></span><i>对不起此分类下已存在添加项！</i></p>
                <p class='info-ico hide r3'><span></span><i>标签过长，最多支持8个汉字、24个英文字母和数字</i></p>
            </div>
        </form>
    </div>
</div>
